<header>
    <div class="container">
        <a href="/">
            <div class="logo">
                <h1>Minha logo</h1>
                <h2>compra e venda</h2>
            </div>
        </a>

        <form class="search" method="GET" action="/products/search">
            <input type="text" name="filter" placeholder="sua busca">
        </form>
        <nav class="primary">
            <ul>
                <li>
                    <a href="/ads/create">
                        <i class="material-icons">add</i>
                        Novo anuncio
                    </a>
                </li>
                <li>
                    <a href="/accounts">
                        <i class="material-icons">account_circle</i>
                        Minha conta
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>